[alias]
    st = status -sb
    tobranch = "!f() { git checkout $1 2>/dev/null || git checkout -b $1; }; f"
    current = rev-parse --abbrev-ref HEAD
    amend = !git add -A && git commit --amend --no-edit
    uncommit = "!bash -c 'git reset HEAD~$1' --"
    save = !git-save.sh
    sync = !git-sync.sh
    backup = !git-backup.sh

[pull]
    ff = only

[push]
    default = current

[rebase]
    autoSquash = true
    autoStash = true
    stat = true

[url "https://github.com/"]
    insteadOf = gh/

[user]
    name = Vitor Vanacor
    email = vitorvanacor@gmail.com

[color]
    ui = auto