[alias]
    st = status -sb
    tobranch = "!f() { git checkout $1 2>/dev/null || git checkout -b $1; }; f"
    save = "!git-save.sh"
    sync = !git pull --rebase && git push
    amend = !git add -A && git commit --amend --no-edit
    uncommit = "!bash -c 'git reset HEAD~$1' --"

[pull]
    ff = only

[push]
    default = current

[rebase]
    autoSquash = true
    autoStash = true
    stat = true

[url "https://github.com/"]
    insteadOf = gh/

[user]
    name = Vitor Vanacor
    email = vitorvanacor@gmail.com

[color]
    ui = auto